----<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>cadastro newtllers</title>
    <link rel="stylesheet" th:href="@{/css/root.css}" />
   
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
         
        </ul>
      </nav>
    </header>
    <main>
      <div class="alert alert-success">
        <p>newtllers cadastrado com sucesso!!!</p>
      </div>
    </main>
  </body>
</html>
